{% extends "base.html" %}

{% block title %}My devices{% endblock %}

{% block content %}
  <h1>My devices</h1>

  <div class="deviceprofile">
      {% for device in object_list %}
        <div class="device-info">
            <h3>{{ device.title }}</h3>
            <p>
                <a href="{% url "device_edit" device.id %}">Edit</a>
                <a href="{% url "device_delete" device.id %}">Delete</a>
                <a href="{% url "device_deviceprofile_update" device.id %}">Edit device profiles</a>
                {% if device.deviceprofiles.count > 0 %}
                  <a href="{% url "deviceprofile_content_list" device.deviceprofiles.first.id %}">Manage content</a>
                {% endif %}
            </p>
        </div>
      {% empty %}
        <p>You don't create any device.</p>
      {% endfor %}
      <p>
          <a href="{% url "device_create" %}" class="button">Create new device</a>
      </p>
  </div>
{% endblock %}
